    .navbar {
        background-color: rgba(133, 201, 216, 0.862);
        color: #ffff
    }
    
    .navbar-brand {
        color: #0d2343
    }

    .site-header {
        background-color: #0d2343;
    }

    .App {
        background-color: #e3e5ea;
    }